{% extends layout %}
  {% import 'components/form.twig' as form %}
{% block content %}
  <h3 class="text-center mt-3 black-text">Register Account</h3>
  <div class="mt-3 d-flex justify-content-center">
    <form data-action="account/store">
      <div class="form__grid pb-3">
        <p class="text-muted mb-0">Account</p>
        {{ form.input({
          name: 'name',
          label: 'account'
        }) }}
        {{ form.input({
          name: 'password',
          label: 'password',
          type: 'password'
        }) }}
        {{ form.input({
          name: 'password_repeat',
          label: 'repeat password',
          type: 'password'
        }) }}
        {{ form.input({
          name: 'email',
          label: 'email',
          type: 'email'
        }) }}
        <p class="text-muted mb-0">Character</p>
        {{ form.input({
          name: 'nickname',
          label: 'nickname',
          type: 'text'
        }) }}
        <p class="text-muted mb-0">Profession</p>
        <div class="d-flex flex-wrap" style="display: grid!important; grid-template-columns: auto auto auto auto;">
          {% for key,prof in professions %}
            <div class="char__item my-1">
              <label for="{{ key }}" class="justify-content-center align-items-center" style="cursor: pointer;">
                <img src="{{ img(prof.src) }}" alt="">
                <span>{{ prof.name|raw }}</span>
                <input type="radio" value="{{ prof.id }}" name="vocation" id="{{ key }}">
              </label>
            </div>
          {% endfor %}
        </div>
        {{ form.select({
          name: 'town_id',
          data: towns,
          label: 'select town'
        }) }}
        {{ form.submit({
          value: 'Create',
          class: 'mt-2'
        }) }}
        {{ form.csrf('Account@store') }}
      </div>
    </form>
  </div>
{% endblock %}
