{% extends layout %}
  {% import 'components/button.twig' as button %}
{% block content %}
  <div class="mt-3 row">
    <div class="col-md-6">
      <p>Account number: {{ account.name }}</p>
      <p>Email: {{ account.email }}</p>
      <p>Characters: {{ players|length }}</p>
      <p>Premium days: {{ account.premdays }}</p>
      <p>Premium points: {{ account.premium_points }}</p>
      {{ button.render({
        el: 'modal',
        url: '/player/change/email',
        text: 'change email',
        class: 'mt-3'
      }) }}
      &nbsp;
      {{ button.render({
        el: 'modal',
        url: '/player/change/password',
        text: 'change password',
        class: 'mt-3'
      }) }}

      {% if account.page_admin == 1 %}
        &nbsp;
        {{ button.link({
          url: '/admin',
          text: 'manage page',
          class: 'mt-3',
          style: 'background: var(--main-orange); color: white;'
        }) }}
      {% endif %}
    </div>
    <div class="col-md-6">
      <div class="d-flex justify-content-end"><a class="is_edit btn" style="background: var(--main-orange); color: var(--text-in-dark-color)" href="{{ url('/account/logout') }}"> Logout  </a></div>
      <div class="d-flex flex-column mt-2">
        <div class="d-flex justify-content-between mb-2">
          <b>Name</b> <b>lvl &nbsp; #</b>
        </div>
        {% for player in players %}
          <div class="d-flex justify-content-between py-2 align-items-center" style="border-bottom: 1px solid var(--main-orange);">
            <div class="align-items-center d-flex">
              <img src="{{ img(player.src) }}" alt="">
              &nbsp; ({{ player.prof_name }}) &nbsp; {{ player.name }}
            </div>
            <div class="align-items-center d-flex">
              {{ player.level }}
              &nbsp;
              {{ button.confirm({
                class: 'remove__character',
                title: 'Delete character',
                body: 'Are you sure to delete character '~player.name~'?',
                url: '/player/delete',
                options: {id: player.id},
                csrf: 'Player@delete',
                text: '×'
              }) }}
            </div>
          </div>
        {% endfor %}
      </div>
      {{ button.render({
        el: 'modal',
        url: 'player/add',
        text: 'create character',
        class: 'mt-3'
      }) }}
    </div>
  </div>
{% endblock %}
